[submodule "Vega/vendor/imgui"]
	path = Vega/vendor/imgui
	url = https://github.com/mihaillatyshov/imgui.git
	branch = docking
[submodule "Vega/vendor/glm"]
	path = Vega/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Vega/vendor/glfw"]
	path = Vega/vendor/glfw
	url = https://github.com/mihaillatyshov/glfw.git
[submodule "Vega/vendor/glew"]
	path = Vega/vendor/glew
	url = https://github.com/mihaillatyshov/glew.git
